.filters-container {
  width: 95%;
  max-width: 1300px;
  margin: 2rem auto;
}

/* 5 tadan kam bo'lganda ishlaydi */
.filters-flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.filter-btn {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50px;
  gap: 10px;
  border: none;
  padding: 0.6rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  transition: all 0.3s ease;
  white-space: nowrap; /* Matn pastga tushib ketmasligi uchun */
}

.filter-btn:hover {
  background-color: #b91c1c;
  color: white;
  transform: translateY(-2px);
}

.filter-btn img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

/* Swiper ichidagi tugmalar uchun maxsus */
.mySwiper {
  padding: 10px 0;
}
